* {
  padding: 0;
  margin: 0;
}

p, dd, dt, li, label, legend {
  color: var(--color-text);
  font-family: "Sour Gummy", sans-serif;
  padding-left: 1rem;
  font-size: 1rem;
}

header {
    font-family: "Playball", cursive; 
    color: var(--color-text);
    background-color: var(--color-background-header);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

header > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

nav {
  display: none;
}

.menu {
  background-color: var(--color-background-button);
  border: 0.1rem solid var(--color-background-button);
  border-radius: 0.2rem;
}

/*
.options {
  display: flex;
  flex-direction: row-reverse;
}
  */

body{
    background-color: var(--color-background-body);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

dt {
  font-weight: bold;
}

a, h2, h3 {
  font-family: "DynaPuff", system-ui;
  font-size: larger;
  color: var(--color-link);

  padding: 1rem;
}

.park > h3{
  font-style: bold;
}

.park > p{
  font-style: italic;
}

.park > img {
  padding: 1rem;
}

img {
  max-width: 25rem; 
}


div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}


.info {
  justify-self: center;
}


/*
.contact {
  display: grid;
  grid-template-columns: 10rem 10rem;
}
*/

dt, dd {
  padding: 0.5rem 0;
}

/*
.index {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hobbies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
  */

.recent {
  max-width: 40rem;
}

.links {
  display: none;
}

.toggle {
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}


#noCheck, #invEmail {
  max-width: max-content;
  background-color: var(--color-background-error);
}

#message {
  min-height: 10vh;
}

@media (min-width: 50rem){
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
  }

  .menu {
    display: none;
  }


  .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /*
  .info {
    max-width: 40rem;
  }
  */

  .links {
    display: flex;
  } 
  .toggle {
    flex-direction: row;
  }

  
  .contact {
    display: grid;
    grid-template-columns: 10rem 10rem;
  }

  /*
  .index {
    max-width: 60rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  */
  
  .hobbies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }

}

