* {
  padding: 0;
  margin: 0;
}

p, dd, dt, li, label, legend {
  color: var(--color-text);
  font-family: "Sour Gummy", sans-serif;
  padding-left: 1rem;
  font-size: 1rem;
}

h1 {
  font-size: clamp(0.5rem, 1rem + 3vw, 1.5rem);
}

header {
    font-family: "Playball", cursive; 
    color: var(--color-text);
    background-color: var(--color-background-header);
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.name-links {
  display: flex;
  flex-direction: column;
}

nav {
  display: none;
}

.menu {
  background-color: var(--color-background-button);
  border: 0.1rem solid var(--color-background-button);
  border-radius: 0.2rem;
  padding: 0.5rem;
}

body{
    background-color: var(--color-background-body);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

dt {
  font-weight: bold;
}

a, h2, h3 {
  font-family: "DynaPuff", system-ui;
  font-size: larger;
  color: var(--color-link);

  padding: 1rem;
}

.park > h3{
  font-style: bold;
}

.park > p{
  font-style: italic;
}

.park > img {
  padding: 1rem;
}

img {
  max-width: 25rem; 
}


div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}


.info {
  justify-self: center;
}

dt, dd {
  padding: 0.5rem 0;
}

.recent {
  max-width: 40rem;
}

.links {
  display: none;
}

.toggle {
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#noCheck, #invEmail {
  max-width: 7rem;
  background-color: var(--color-background-error);
  color: var(--color-text-error);
}

#message {
  min-height: 10vh;
}

@media (min-width: 50rem){
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .name-links {
    flex-direction: row;
  }

  .menu {
    display: none;
  }


  .options {
    display: flex;
  }

  .options > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .links {
    display: flex;
  } 
  .toggle {
    flex-direction: row;
  }
  
  .contact {
    display: grid;
    grid-template-columns: 10rem 10rem;
  }
  
  .hobbies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }

}

