:root {
    --color-background-body: #f5f5f5;
    --color-background-header: #e0ffff;
    --color-background-button: rgb(185, 204, 250);

    --color-background-error: #940c0c;
    --color-text-error: white;

    --color-link: #a52a2a;
    --color-text: #804000;
}

body.dark-mode {
 --color-background-body: #373737;
 --color-background-header: #707070;

 --color-text: white;
 --color-link: #d3fffe;
}